<div class="footer">
    <div class="heading">
        <div class="row">
            
            
        </div>
      <!-- <h2>Faraz<sup>™</sup></h2> -->
    </div>
    <div class="content">
      <div class="services">
        <div class="row d-flex justify-content-start">
            <img class="pb-4" src="https://www.monolithai.com/hubfs/mobile-logo.svg">
        </div>
        <h4>Monolith Platform</h4>
        <p><a href="#">Product Overview</a></p>
        <p><a href="#">Getting Started</a></p>
        <p><a href="#">Platform Features</a></p>
      </div>
      <div class="social-media">
        <div class="row pt-5"></div>
        <h4>AI Solutions</h4>
        <p><a href="#">Automotive</a></p>
        <p><a href="#">Industrial</a></p>
        <p><a href="#">Aerospace & Defense</a></p>
      </div>
      <div class="links">
        <div class="row pt-5"></div>
        <h4>About</h4>
        <p><a href="#">About Us</a></p>
        <p><a href="#">Blogs</a></p>
        <p><a href="#">Careers</a></p>
      </div>
      <div class="details">
        <div class="row d-flex justify-content-start pb-3">
            <div class="col-md-6">
                <img class="" src="https://www.monolithai.com/hs-fs/hubfs/Gartner-Cool-Vendor-white.png?width=66&height=30&name=Gartner-Cool-Vendor-white.png">
            </div>
        </div>
        <h4>We empower engineers to solve their<br />
            most intractable physics problems.
        </h4>
        <p class="pb-0 mb-0">Subscribe to our monthly newsletter</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Please enter your email address" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="row">
            <button type="button" class="mbtn red">
                <strong>Request a Demo</strong>
            </button>
        </div>
      </div>
    </div>
    <footer>
      <hr />
      <div class="row">
        <div class="col-md-6 d-flex justify justify-content-around privacy-policy pb-3">
            <p>© 2022 Monolith. All rights reserved.</p>
            <span>
                <a class="no-text-decoration white" href="https://www.monolithai.com/privacy-policy" target="_blank">Privacy Policy </a> |
                <a class="no-text-decoration white" href="https://www.monolithai.com/cookie-policy" rel="noopener" target="_blank">Cookie Policy</a>
            </span>
        </div>
        <div class="col-md-6 d-flex social-media-links">
            <p class="p-0 m-0"><strong>Follow Us:</strong></p>
            <a class="navbar-brand" href="https://www.facebook.com/MonolithAI/" target="_blank">
                <img class="p-2" src="https://www.monolithai.com/hubfs/fb.svg">
            </a>
            <a class="navbar-brand" href="https://twitter.com/monolith_ai" target="_blank">
                <img class="p-2" src="https://www.monolithai.com/hubfs/tw.svg">
            </a>
            <a class="navbar-brand" href="https://www.linkedin.com/company/monolith-ai/" target="_blank">
                <img class="p-2" src="https://www.monolithai.com/hubfs/li.svg">
            </a>
            <!-- <a href="https://www.monolithai.com/privacy-policy">Privacy Policy </a> -->
        </div>
      </div>
      
      <!-- <p class="copyright"></p> -->
    </footer>
  </div>