<div class="sticky-navbar">
    <nav class="navbar  navbar-light  bg-light navbar-expand-sm height-full">
        <a class="navbar-brand" href="#">
            <img class="p-2" src="https://www.monolithai.com/hubfs/desktop-logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
             <span class="navbar-toggler-icon"></span>
        </button>
 
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav navigation">
                <li class="nav-item">
                    <a class="nav-link" href='#'>First Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#'>Second Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#'>Third Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#'>Fourth Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact" href='#'><strong>Contact Us</strong></a>
                </li>
                <li>
                    <button type="button" class="mbtn red">
                        <strong>Request a Demo</strong>
                    </button>
                </li>
            </ul>
       </div>
    </nav>
</div>