<div class="banner-background row d-flex justify-content-center banner-padding mt-5 mb-5">
    <div class="col-md-8">
        <h5 class="red">Monolith</h5>
        <h1 class="white">Use AI software to test</h1>
        <h1 class="white">less and learn more.</h1>
        <p class="white">Spend less time running expensive, repetitive tests and more time learning from</p>
        <p class="white">your engineering data to predict the exact tests to run.</p>
        <div class="row pb-5">
            <div class="col-md-6 p-0">
                <button class="mbtn red">
                    <strong>REQUEST DEMO</strong>
                </button>
            </div>
            <div class="col-md-6 p-0">
                <button class="mbtn outline">
                    <strong>SPEAK TO OUR TEAM</strong>
                </button>
            </div>
        </div>
        <div class="row">
            <div style="width: 840px; height: 200px; text-align:center;margin:0; padding:0;">
                <!-- [imageSize]="{width: '20%', height: 100}" --> 
                <ng-image-slider #nav
                  [images]="imageObject"
                  [infinite]="true"
                  [autoSlide]="1"
                  [imageSize]="{height: 50}"
                  slideImage="1">
                </ng-image-slider>
              </div>
        </div>
    </div>
</div>